html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background: linear-gradient(to right, #240b36, #c31432);
}

div#buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

div#buttons button {
    margin: 15px;
    height: 50px;
    border: 0;
    background: cyan;
    cursor: pointer;
}

div#buttons button:focus {
    border: 0;
    outline: none;
}

div#form {
    text-align: center;
    margin: 20px;
}

input {
    height: 36px;
    width: 228px;
    border-radius: 20px;
    border: 0;
    padding-left: 20px;
    font-size: 16px;
    background-color: greenyellow;
}

input:focus {
    outline: none;
}

h1 {
    text-align: center;
}

#main {
    display: flex;
    margin-bottom: 10px;
}
#board {
    width: 700px;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: auto;
    box-shadow: 0px 0px 14px 0px black;
}
