html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    margin: 0;
    background-color: brown;
}

#main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#board {
    height: 500px;
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    background-color: green;
    margin: auto;
}
#board div {
    background-color: gray;
}